@tailwind components;
@tailwind utilities;
@tailwind base;

:root {
  --header-height: 3.75rem;
  --swiper-color-background: rgb(33 33 33 / 60%);

  font-family: Inter, sans-serif;
  color-scheme: dark;
  background-color: rgb(13 13 13);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input[type='password']::-ms-reveal,
input[type='password']::-ms-clear {
  display: none;
}

@media (width <= 768px) {
  .radix-dialog {
    width: 100%;
  }
}

@layer components {
  .popoverOpacity {
    @apply relative z-50 bg-transparent before:top-0 before:left-0 before:right-0 before:bottom-0 before:absolute before:bg-dark-500 before:-z-10 before:opacity-80 before:rounded-sm;
  }

  .sliderCenter {
    @apply relative after:absolute after:-z-10 after:w-0.5 after:h-4 after:bg-light-900 after:left-[34%] after:-translate-x-[50%];
  }

  .arrowBack {
    @apply absolute top-[18px] left-6 cursor-pointer hover:text-accent-500 transition hover:-translate-x-1;
  }
}
