@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 3.75rem;

  font-family: Inter, sans-serif;
  color-scheme: dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.swiper-button-prev, .swiper-button-next {
  color: #fff !important;
}

.swiper-button-prev {
  background-image: url('/Vector.svg') !important;
  background-repeat: no-repeat;
  background-position: center !important;
  background-size: auto !important;
}

.swiper-button-next {
  transform: rotate(180deg);

  background-image: url('/Vector.svg') !important;
  background-repeat: no-repeat;
  background-position: center !important;
  background-size: auto !important;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  filter: brightness(0) saturate(100%) invert(44%) sepia(98%) saturate(4000%) hue-rotate(199deg) brightness(103%) contrast(101%);}
  
.swiper-button-prev::after,
.swiper-button-next::after  {
  content: '' !important;
}
