/* General styles for CustomSwiper */
.swiper-pagination {
  bottom: var(--swiper-pagination-bottom, 14px) !important;
}

.swiper-pagination-bullet {
  position: relative;

  display: inline-block;

  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 6px) !important;

  opacity: 1;
  background-color: white;
}

.swiper-pagination-bullet::before {
  content: ' ';

  position: absolute;
  z-index: -10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: block;

  width: 20px;
  height: 24px;

  background-color: var(--swiper-color-background);
  border-radius: 0;
}

.swiper-pagination-bullet:first-child::after {
  content: '';

  position: absolute;
  z-index: -10;
  top: 50%;
  left: -10px;
  transform: translateY(-50%);

  width: 4px;
  height: 24px;

  background-color: var(--swiper-color-background);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.swiper-pagination-bullet:last-child::after {
  content: '';

  position: absolute;
  z-index: -10;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);

  width: 4px;
  height: 24px;

  background-color: var(--swiper-color-background);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.swiper-button-next,
.swiper-button-prev {
  width: 48px;
  height: 48px;

  background-color: var(--swiper-color-background);
  background-image: none !important;
  background-size: 10px !important;
  border-radius: 2px;
}

.swiper-button-next {
  transform: rotate(180deg);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: '' !important;

  transform: translateX(-1px);

  width: 14px;
  height: 28px;

  background-image: url('/Vector.svg') !important;
  background-repeat: no-repeat;
  background-position: center !important;
  background-size: 14px !important;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  filter: none;
}

.swiper-button-prev:hover::after,
.swiper-button-next:hover::after {
  filter: brightness(0) saturate(100%) invert(44%) sepia(98%) saturate(4000%)
    hue-rotate(199deg) brightness(103%) contrast(101%);
}

/* styles for public post */
.publicPost .swiper-button-next,
.publicPost .swiper-button-prev {
  top: var(--swiper-navigation-top-offset, 55%);
  width: 24px;
  height: 24px;
}

.publicPost .swiper-button-prev::after,
.publicPost .swiper-button-next::after {
  width: 24px;
  height: 24px;
  background-size: 7px !important;
}

.publicPost .swiper-pagination {
  bottom: var(--swiper-pagination-bottom, 8px) !important;
}

.publicPost .swiper-pagination-bullet {
  top: 4px !important;
  bottom: var(--swiper-pagination-bottom, 10px) !important;
  width: var(
    --swiper-pagination-bullet-width,
    var(--swiper-pagination-bullet-size, 6px)
  );
  height: var(
    --swiper-pagination-bullet-height,
    var(--swiper-pagination-bullet-size, 6px)
  );
}

.publicPost .swiper-pagination-bullet::before {
  width: 18px;
  height: 12px;
}

.publicPost .swiper-pagination-bullet:first-child::after {
  width: 4px;
  height: 12px;
}

.publicPost .swiper-pagination-bullet:last-child::after {
  width: 4px;
  height: 12px;
}

/* styles for new post creation */
.addPost .swiper-button-next,
.addPost .swiper-button-prev {
  width: 36px;
  height: 36px;
}

.addPost .swiper-button-prev::after,
.addPost .swiper-button-next::after {
  width: 24px;
  height: 24px;
  background-size: 10px !important;
}

@media screen and (width <= 768px) {
  .addPost .swiper-pagination {
    display: none;
    opacity: 0;
  }
}

.addPost .swiper-pagination {
  bottom: var(--swiper-pagination-bottom, 18px) !important;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
}

.swiper-pagination-bullet-active {
  background-color: rgb(57 125 246);
}
